In [183]:
import numpy as np
import pandas as pd
from scipy.linalg import solve

In [184]:
def Ncond(A):
#spectral
    normA=np.linalg.norm(A, ord=1)
    A_1=np.linalg.inv(A)
    normA_1=np.linalg.norm(A_1, ord=1)
    conds=normA*normA_1
#ortega
    number=len(A)
    condv=1
    for i in range(number):
        colsum=0
        for j in range(number):
            colsum=colsum+A[i][j]
        colsum=np.sqrt(colsum)
        condv=condv*colsum
    detA=abs(np.linalg.det(A))
    condv=condv/detA
#angle
    pros=[]
    for i in range(number):
        Asum=0
        A_1sum=0
        for j in range(number):
            Asum=Asum+A[i][j]*A[i][j]
            A_1sum=Asum+A_1[i][j]*A_1[i][j]
        pros.append(np.sqrt(Asum*A_1sum))
    conda=max(pros)
    
    cond=[]
    cond.append(conds)
    cond.append(condv)
    cond.append(conda)
    return cond

In [185]:
def Vari(A,B,number):
#varying matrix A, number - power of 10
    variA = [[0 for j in range(len(A))] for i in range(len(A))]
    for i in range (len(variA)):
        for j in range(len(variA)):
            variA[i][j]=A[i][j]
            variA[i][j]=round(variA[i][j],number)
#varying b
    varib = [0 for j in range(len(B))]
    for k in range(len(varib)):
        varib[k]=B[k]
        varib[k]=round(varib[k],number)
#comparing x and x~
    x=solve(A,B)
    varix=solve(variA,varib)
    sum=0
    for g in range (len(varix)):
        sum=sum+abs(x[g]-varix[g])**2
    sum=np.sqrt(sum)
    res=sum
    return res

In [186]:
Vari(a,b,1)

0.010899534910060923

In [187]:
def Filling(A,B):
    res=Ncond(A)
    conds=['spectral','volume','angular']
    data = {'--':[],'cond(A)': [], 'round number': [], '|x-~x|': []}
    df = pd.DataFrame(data)
    
    for j in range(3):
        new_row = {'--':conds[j],'cond(A)':res[j]}
        df=df.append(new_row,ignore_index=True)
    
    for i in range(10):
        res=Vari(A,B,10-i)
        new_row = {'round number':10-i,'|x-~x|':res}
        df=df.append(new_row,ignore_index=True)
    print(df)

In [188]:
#hilbert matrix n=6
number=6
a = [[0 for j in range(number)] for i in range(number)]
for i in range (number):
    for j in range(number):
        a[i][j]=1/(i+j+1)
b=[0 for k in range(number)]
for i in range (number):
    b[i]=1-1/(i+3)

In [189]:
dfa=pd.DataFrame(a)
dfa

          0         1         2         3         4         5
0  1.000000  0.500000  0.333333  0.250000  0.200000  0.166667
1  0.500000  0.333333  0.250000  0.200000  0.166667  0.142857
2  0.333333  0.250000  0.200000  0.166667  0.142857  0.125000
3  0.250000  0.200000  0.166667  0.142857  0.125000  0.111111
4  0.200000  0.166667  0.142857  0.125000  0.111111  0.100000
5  0.166667  0.142857  0.125000  0.111111  0.100000  0.090909

In [190]:
b

[0.6666666666666667, 0.75, 0.8, 0.8333333333333334, 0.8571428571428572, 0.875]

In [191]:
Filling(a,b)

          --       cond(A)  round number        |x-~x|
0   spectral  2.907028e+07           NaN           NaN
1     volume  3.198561e+17           NaN           NaN
2    angular  6.561314e+05           NaN           NaN
3        NaN           NaN          10.0      0.725127
4        NaN           NaN           9.0      7.278866
5        NaN           NaN           8.0    335.486866
6        NaN           NaN           7.0   7513.451404
7        NaN           NaN           6.0  12305.350895
8        NaN           NaN           5.0   2878.977843
9        NaN           NaN           4.0   8830.219114
10       NaN           NaN           3.0   8836.413897
11       NaN           NaN           2.0   8687.027640
12       NaN           NaN           1.0   8696.044281

In [192]:
#hilbert matrix n=5
number=5
a = [[0 for j in range(number)] for i in range(number)]
for i in range (number):
    for j in range(number):
        a[i][j]=1/(i+j+1)
b=[0 for k in range(number)]
for i in range (number):
    b[i]=1-1/(i+3)

In [193]:
dfa=pd.DataFrame(a)
dfa

          0         1         2         3         4
0  1.000000  0.500000  0.333333  0.250000  0.200000
1  0.500000  0.333333  0.250000  0.200000  0.166667
2  0.333333  0.250000  0.200000  0.166667  0.142857
3  0.250000  0.200000  0.166667  0.142857  0.125000
4  0.200000  0.166667  0.142857  0.125000  0.111111

In [194]:
b

[0.6666666666666667, 0.75, 0.8, 0.8333333333333334, 0.8571428571428572]

In [195]:
Filling(a,b)

          --       cond(A)  round number       |x-~x|
0   spectral  9.436560e+05           NaN          NaN
1     volume  4.120203e+11           NaN          NaN
2    angular  3.596905e+04           NaN          NaN
3        NaN           NaN          10.0     0.005589
4        NaN           NaN           9.0     0.067107
5        NaN           NaN           8.0     2.520119
6        NaN           NaN           7.0    32.011859
7        NaN           NaN           6.0   220.177687
8        NaN           NaN           5.0    71.617966
9        NaN           NaN           4.0  1333.745501
10       NaN           NaN           3.0  1365.301063
11       NaN           NaN           2.0  1434.704658
12       NaN           NaN           1.0  1439.665671

In [196]:
#good matrix
number=4
a = [[4,2,0,0],[2,5,2,0],[0,2,6,2],[0,0,2,7]]
b=[0 for k in range(number)]
for i in range (number):
    b[i]=1-1/(i+3)

In [197]:
dfa=pd.DataFrame(a)
dfa

   0  1  2  3
0  4  2  0  0
1  2  5  2  0
2  0  2  6  2
3  0  0  2  7

In [198]:
b

[0.6666666666666667, 0.75, 0.8, 0.8333333333333334]

In [199]:
Filling(a,b)

          --    cond(A)  round number        |x-~x|
0   spectral   6.048387           NaN           NaN
1     volume   0.140552           NaN           NaN
2    angular  53.013006           NaN           NaN
3        NaN        NaN          10.0  1.483187e-11
4        NaN        NaN           9.0  1.483191e-10
5        NaN        NaN           8.0  1.483191e-09
6        NaN        NaN           7.0  1.483191e-08
7        NaN        NaN           6.0  1.483191e-07
8        NaN        NaN           5.0  1.483191e-06
9        NaN        NaN           4.0  1.483191e-05
10       NaN        NaN           3.0  1.483191e-04
11       NaN        NaN           2.0  1.483191e-03
12       NaN        NaN           1.0  1.089953e-02